.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.red {
  width: 290px;
  height: 80px;
  background-color: red;
  border: 2px solid black;
}

.middle {
  display: flex;
  gap: 10px;
}

.orange {
  width: 400px;
  height: 200px;
  background-color: orange;
  border: 2px solid black;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purple {
  width: 180px;
  height: 93px;
  background-color: purple;
  border: 2px solid black;
}

.blue {
  width: 600px;
  height: 80px;
  background-color: teal;
  border: 2px solid black;
}
